<!DOCTYPE HTML>
{% block content %}
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style/items.css' %}">
        <title>Workshop NINA</title>
    </head>
	<body>
        <header class="header">
            <a href="{% url 'index' %}"><img class="nina" src="{% static 'img/nina_header.svg' %}"></a>
            <div>
                <a href="{% url 'cart' %}"><img class="cart" src="{% static 'img/cart.svg' %}"></a>
                {% if user.is_superuser %}
                    <a href="{% url 'admin:index' %}"><img class="profile" src="{% static 'img/profile.svg' %}"></a>
                {% else %}
                    <a href="{% url 'profile' %}"><img class="profile" src="{% static 'img/profile.svg' %}"></a>
                {% endif %}
            </div>
        </header>
        <main>
            <div class="items" >
            {% csrf_token %}
            {% for flower in flowers %}
                <div class="item" style="background-image: url({{flower.image.url}})">
                    <p class="price">{{flower.price}} BYN</p>
                    <form method="post" action="{% url 'get_item' flower.id %}">
                        {% csrf_token %}
                        <button type="submit" class="button">Add</button>
                    </form>
                </div>
            {% endfor %}
            </div>
        </main>
    </body>
</html>
{% endblock %}