<!DOCTYPE HTML>
{% block content %}
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style/profile.css' %}">
        <title>Workshop NINA</title>
    </head>
    <body>
        <main>
            <h1 class="empty_profile">Do you want to cancel delivery?</h1>
            <form method="post" class="flex_buttons">
                {% csrf_token %}
                <button class="button_delete" type="submit">Yes</button>
                <a href="{% url 'profile' %}" class="button_no_delete">No</a>
            </form>
        </main>
    </body>
</html>
{% endblock %}
