@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    padding-inline-start: 0;
    margin: 0;
    background-color: #ffffff;
}

html{
    background-color: #ffffff;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

button, a{
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    width: 1300px;
    margin: 50px auto;
}
.nina {
    width: 200px;
}

.cart {
    padding-top: 10px;
}

.profile {
    padding-top: 15px;
    height: 40px;
    margin-left: 15px;
}

.item {
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    gap: 50px;
}

.price {
    display: block;
    text-align: left;
    width: 200px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: 0;
    margin-left: 30px;
    margin-top: 333px;
}

.button {
    background-color: inherit;
    border: 2px solid #FFFFFF;
    border-radius: 80px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    width: 100px;
    height: 50px;
    margin-top: 330px;
}

.button:hover {
    border: 1px solid #C4D334;
    background-color: #C4D334;
}